python-dotenv
loguru
uvicorn
fastapi
matplotlib
pyzmq
lerobot[feetech]==0.3.3
strands-agents[anthropic]==1.4.0
pipecat-ai[webrtc,silero,deepgram,anthropic,elevenlabs]==0.0.79
pipecat-ai-small-webrtc-prebuilt
